@import "./variables";

@mixin grid-section-padding {
  padding: 5vw;
  @media screen and (min-width: 500px) {
    padding: calc(5vw / 2);
  }
  @media screen and (min-width: 800px) {
    padding: calc(5vw / 3);
  }
  @media screen and (min-width: 1000px) {
    padding: calc(5vw / 4);
  }
}

@mixin grid-column {
  grid-template-columns: 1fr;
  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin grid-font-size {
  font-size: 3.4vw;
  @media screen and (min-width: 500px) {
    font-size: calc(3.4vw / 2);
  }
  @media screen and (min-width: 800px) {
    font-size: calc(3.4vw / 3);
  }
  @media screen and (min-width: 1000px) {
    font-size: calc(3.4vw / 4);
  }
}

@mixin grid-item-bgColor {
  &:nth-child(odd) {
    background-color: $post-bg-light-color-1;
  }
  &:nth-child(even) {
    background-color: $post-bg-light-color-2;
  }
  @media screen and (min-width: 500px) {
    &:nth-child(4n-1) {
      background-color: $post-bg-light-color-1;
    }
    &:nth-child(4n-2) {
      background-color: $post-bg-dark-color-1;
    }
    &:nth-child(4n-3) {
      background-color: $post-bg-light-color-2;
    }
    &:nth-child(4n) {
      background-color: $post-bg-dark-color-2;
    }
  }
  @media screen and (min-width: 1000px) {
    &:nth-child(8n-7) {
      background-color: $post-bg-light-color-1;
    }
    &:nth-child(8n-6) {
      background-color: $post-bg-dark-color-2;
    }
    &:nth-child(8n-5) {
      background-color: $post-bg-dark-color-1;
    }
    &:nth-child(8n-4) {
      background-color: $post-bg-dark-color-2;
    }
    &:nth-child(8n-3) {
      background-color: $post-bg-dark-color-3;
    }
    &:nth-child(8n-2) {
      background-color: white;
    }
    &:nth-child(8n-1) {
      background-color: $post-bg-light-color-1;
    }
    &:nth-child(8n) {
      background-color: $post-bg-light-color-2;
    }
  }
}
