$header-height: 3rem;
$nav-color-1: #e4c564;
$nav-color-2: #56854a;
$nav-color-3: #97c2de;
$nav-color-4: #dc534d;
$nav-color-5: #ccb2a2;
$nav-color-6: #198ca1;
$nav-color-7: #ec9860;
$post-bg-light-color-1: rgb(207, 187, 174);
$post-bg-dark-color-1: rgb(201, 169, 150);
$post-bg-light-color-2: rgb(30, 149, 171);
$post-bg-dark-color-2: rgb(20, 130, 150);
$post-bg-light-color-3: rgb(94, 139, 83);
$post-bg-dark-color-3: rgb(78, 126, 66);
